<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Project team</title>
</head>
<body>
    <header>
        <h1 id="projectTitle">Project Name</h1>
    </header>
    <main id="team">
        <section class="member">
            <div class="memHeader">
                <h2>Jared</h2>
                <h3>Manager</h3>
            </div>
            <div class="memBody">
                <div class="infoBox">
                    <div class="memInfo">ID: 1</div>
                    <div class="memInfo">email: <a href="mailto:ajknapp2015@gmail.com">someFake@bzz.com</a></div>
                    <div class="memInfo">Office Number: 1</div>
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>